<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous" defer></script>

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body class="bg-light">

    <div class="container-fluid pt-3 pb-3 text-center text-light bg-secondary" id="header">
        <h1 class="display-2">Grabovoj Numbers</h1>
        <h3>Find The Perfect Number For Almost Every Occasion!</h3>
        <h4><a href="https://www.scribd.com/document/323126360/Grigori-Grabovoi-Instructions-How-to-Work-With-Numbers"
               target="_blank" class="badge badge-light text-secondary">What Is A Grabovoj Number <i class="far fa-question-circle"></i></a></h4>
    </div>

    <div class="container">

        <div id="menubar" class="row justify-content-center p-4">
            <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-white border border-warning">Browse By Product Category:</button>

                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${category.name}">Category name</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" th:each="cat,iterStat : ${categories}" th:href=@{/?category={category}(category=${cat})} th:text="${cat}">Category name</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-white border border-warning">Browse By Supplier:</button>

                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${category.name}">Category name</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" th:each="cat,iterStat : ${categories}" th:href=@{/?category={category}(category=${cat})} th:text="${cat}">Category name</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <button type="button" class="btn btn-warning">My Shopping Cart <i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>

        <div id="products" class="row">
            <div class="card m-2" style="width: 16rem;" th:each="prod,iterStat : ${products}">
                <img class="card-img-top" src="https://via.placeholder.com/300/FFFFFF?Text=haha" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${prod.name}">Product name</h5>
                    <p class="card-text" th:text="${prod.description}">Product description</p>
                </div>
                <div class="card-footer text-center bg-info text-white">
                    <h5 class="card-text" th:text="${prod.getPrice()}">Price</h5>
                </div>
                <div class="card-footer bg-success">
                    <a href="#" class="btn btn-success btn-block font-weight-bold">Add to cart <i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="footer.html :: copy"></div>

</body>
</html>