html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 40px;
}

#header {
    font-family: 'Oswald', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

div .input-group-prepend {
    width: 30%;
}

div .input-group-text {
    width: 100%;
}